no# Зависимости (самая тяжелая папка, из-за которой всё висло)
node_modules/

# Кэш и папки сборки Angular
.angular/
dist/
.editorconfig

# Настройки редакторов кода (Cursor, VS Code)
.cursor/
.vscode/

# Логи ошибок
*.logde_modules
